*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

input{
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  width: 350px;
}

.but{
  line-height: 24px;
  padding: 5px 18px;
  background: #9b59b6;
  color: antiquewhite;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  /* margin: auto; */
  margin-top: 10px;
}

.group{
  width: 300px;
  margin: 5px;
  text-align: center;
}